# domain name
DOMAIN_NAME=localhost

# services
SERV_DIR=services

# ports
FRONTEND_PORT=5173
BACKEND_PORT=3000
DATABASE_PORT=5432
PRISMA_PORT=5555
NGINX_HTTPS_PORT=443

# app (workfrom,)
WF_ADMIN_USER=superuser
WF_ADMIN_EMAIL=superuser@workfrom.com

# frontend
VITE_API_URL=/api
VITE_DOMAIN_URL=https://localhost
VITE_SOCKET_PATH=/socket.io
VITE_LIVEKIT_URL=wss://your-livekit-cloud-url
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# supabase 
