# Auth
JWT_EXPIRY=<preferred_duration>
GOOGLE_CLIENT_ID=<google_client_id>

# Supabase Storage
SUPABASE_URL=https://<project-id>.supabase.co
SUPABASE_ASSET_BUCKET=<bucket-name>
SUPABASE_ATTACHMENT_BUCKET=<bucket-name>
SUPABASE_S3_REGION=<region>
SUPABASE_S3_BUCKET=<bucket-name> 
SUPABASE_S3_ENDPOINT=https://<project-name>.storage.supabase.co/storage/v1/s3
SUPABASE_PUBLIC_URL=https://<project-name>.supabase.co/storage/v1/object/public

# Mailer
SMTP_HOST=<host>
SMTP_PORT=<port>
MAIL_FROM=<email>
SUPPORT_EMAIL=<email>