# For Prisma CLI running on your host machine:
# - If Postgres is exposed to host, use localhost:5432
# - If Prisma runs inside Docker network, use host "database"
# DATABASE_URL="postgresql://db_admin:db_password@host:port/db_name?schema=public"

# these envs key:value can be retrieved from supabase's project page
# DATABASE (prisma)
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.<project_id:db_password>@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.<project_id:db_password>@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"

# STORAGE (supabase client - for transcripts)
SUPABASE_URL=https://<project-id>.supabase.co
SUPABASE_SERVICE_ROLE_KEY=<sb_secret_key>
SUPABASE_STORAGE_BUCKET=<bucket-name>

# AUTH
GOOGLE_CLIENT_ID=<google_client_id>
GOOGLE_CLIENT_SECRET=<google_client_secret>

