@import "tailwindcss";

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* dark mode by default */
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}
