.login-page-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin: 0;
}

.login-content-card {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-logo {
  font-family: 'Space Mono', monospace;
  font-size: 72px;
  color: #D0F05C;
  margin-bottom: 35px;
  /* letter-spacing: -3px; */
  cursor: pointer;
}

.auth-container {
  width: 60%;
}

.google-auth-button {
  width: 100%;
  background: #1a1a1a;
  border: 1px solid #2a2a2a;
  color: #fff;
  padding: 16px; 
  border-radius: 8px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.divider {
  margin: 24px 0;
  color: #9ca3af;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.email-login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-input {
  background: #1a1a1a;
  border: 1px solid #222;
  color: white;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

/* THE LIME STROKE ON FOCUS */
.custom-input:focus {
  border: 1px solid #D0F05C;
}

.error-message {
  color: #ff4d4f;
  text-align: center;
  font-size: 14px;
  margin: 8px 0;
  min-height: 20px;
}

.primary-login-btn {
  background-color: #2d3321; 
  color: #D0F05C;
  border: none;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
  width: 100%;
}

.login-helper-text {
  margin-top: 24px;
  color: #9ca3af;
  font-size: 14px;
  text-align: center;
}

.legal-disclaimer {
  margin-top: 50px;
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  text-align: center;
  width: 100%;
}

.highlight {
  color: #6b7280;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}